# =======================
# Sistema / IDE / Python
# =======================
.DS_Store
Thumbs.db
.vscode/
.idea/
__pycache__/
*.pyc

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# =======================
# DATA
# =======================

# Ignorar TODOS los CSV dentro de data/
data/**/*.csv

# PERO NO ignorar los procesados finales (3.processed)
!data/model1_cv_role/3.processed/*.csv
!data/model2_salaries/3.processed/*.csv

# Si tienes otros modelos, añádelos igual:
# !data/otro_modelo/3.processed/*.csv

# =======================
# MODELOS entrenados
# =======================
models/*
